{% extends "base.html" %}

{% block head %}

{% endblock %}


{% block body %}



<main role="main">
    <div class="jumbotron mt-4">
        <div class="card-body">
            <h1 class="display-4">Archive viewer</h1>
            <p class="lead">{{file_upload}}</p>
            <hr class="my-4">
            {% if request.method == 'POST'%}
            {% if not original_file_name == "empty"%}
            <p class="lead text-center"><strong>{{original_file_name}}</strong> content:</p>
            
            <table class="display table table-sm table-hover lead" style="width: 100%">
                <!-- header of the table -->
                <thead>
                    <tr>
                        <th>File name</th>
                        <th class="text-right">Size</th>
                        <th class="text-center">Last change</th>
                    </tr>
                </thead>


                <!-- datarows of the table -->
                <tbody>
                    {% for row in results %}
                    <tr>
                        <td>{{row["file"]}}</td>
                        <td align="right">{{row["size"]}}</td>
                        <td align="center">{{row["change"]}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else%}
            <p class="lead"><strong>no file</strong></p>
            <hr>

            {% endif %}
            {% endif %}
            <hr>
            
            <a class="btn btn-dark float-right md-4 mt-2" href="/upload">Process again</a>
        </div>
    </div>
</main>




{% endblock %}