{% extends "base.html" %}

{% block head %}

{% endblock %}


{% block body %}

<main role="main">
    <div class="jumbotron mt-4">
        <div class="card-body">
            <h1 class="display-4">Archive viewer</h1>
            <p class="lead">Start with upload ZIP file</p>
            <hr class="my-4">

           
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="file_name" accept=".zip" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose archive file</label>
                    </div>
                    <hr>

                    <input class="btn btn-primary float-right" type="submit" value="Upload">
                </form>
         





            <script>
                // Add the following code if you want the name of the file appear on select
                $(".custom-file-input").on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

                });
            </script>

        </div>
    </div>
</main>

{% endblock %}